body{
    gap: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #202020;
    color: beige;
}
ul{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    list-style: none;
}
li{
    width: 40vw;
    display: flex;
    justify-content: space-evenly;
}
#table{
   
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    /* border: 2px solid red; */
    /* display: flex; */
    height: auto;
    width: 40vw;
    background: #000000;
}
#p{
    padding-left:40px;
    width: 20vw;
}
#val{
    border-radius: 20px;
    background-color: #464646;
    height: 30px;
    width: 30vw;
    border-style: none;
    color: white;
    padding-left: 15px;
}
#submit{
    height: 30px;
    border-radius: 20px;
    border-style: none;
    background-color: #00836d;
    color: white;
}
.light{
    width: 30vw;
    background: #303030;
    overflow: auto;
    border-radius: 20px;
}